@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/** First Section Styled */
.parent1 {
  display: flex;
  justify-content: space-evenly;
  background: rgba(229, 84, 115, 0.1);
}

.mb-20 {
  margin-bottom: 20px;
}

.title-font{
  font-weight:800;
  font-size:60px;
}

.left1 {
  margin: auto 0;
  max-width: 50%;
}

.btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color:white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/** Fourth Section */
.text-center{
  text-align: center;
}

